ITS_IMDB_AUTH=cookies
ITS_IMDB_COOKIEATMAIN=
ITS_IMDB_EMAIL=
ITS_IMDB_HEADLESS=true
ITS_IMDB_LISTS=
ITS_IMDB_IGNOREDLISTS=
ITS_IMDB_PASSWORD=
ITS_IMDB_TRACE=false
ITS_IMDB_BROWSERPATH=

ITS_SYNC_HISTORY=false
ITS_SYNC_MODE=dry-run
ITS_SYNC_RATINGS=true
ITS_SYNC_LISTS=true
ITS_SYNC_TIMEOUT=15m
ITS_SYNC_WATCHLIST=true

ITS_TRAKT_CLIENTID=your-trakt-client-id
ITS_TRAKT_CLIENTSECRET=your-trakt-client-secret
ITS_TRAKT_TOKENFILE=trakt-token.json

ITS_TMDB_ENABLED=false
ITS_TMDB_READACCESSTOKEN=
ITS_TMDB_SESSIONID=

ITS_STATE_DIR=
ITS_STATE_RECONCILEINTERVAL=168h
